.borda {
	border: 10px outset #1869AD;
}

.bloco-left {
    background-color: #88B1C7;
}

.bloco-right {
    background-color: #C0D4D5;
}

.text {
    color: #000000;
}

.linguagens {
    font-size: 20px;
}

img {
    border-radius: 30%;
}

h2 {
    font-size: 30px;
}

body {
    font-family: Helvetica;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}
  